@media (max-width: 1134px){
	aside#contact_ficha{
	}
	.header_ficha .utils {
    	width: 35%;
    	padding-top: 5px;
	}
	.header_ficha.stick .utils{
		 padding-top: 0;
	}
	#ficha_promo .utils li{
		margin-top: 5px;
	}
	.header_ficha .utils li{
		text-align: center;
	    margin-top: 10px;
	}
	.header_ficha .utils li span{
		display:inline-block;
		width:100%;
		margin-top: 10px;
	}	

	.header_ficha .utils li a::before{
		position:relative !important;
	}
	section.caract .detalles{
		width:78%;
	}
}
/* iPads (portrait) */
@media (max-width: 1024px){	
	
	html{
		font-size: 15px;
	}
	section#buscador .cajabuscador .tipo select{
		margin-top: 0;
	}
	section#buscador .cajabuscador .send::before{
		left: 11%;
	}	
}

/* tablets menos de 1024 */
@media (max-width: 1023px){	
	
	html{
		font-size: 12px;
	}
	#ficha_inmu header#logonav{
		top: 33px;
	}
	#ficha_promo header#logonav{
		top: 33px;
	}
	.header_ficha{
		top:65px;
	}	
	section.ficha{
		width: 58.66%;
	}
	section.ubicacion .servicio_mapa .servicios_menu li a{
		font-size: 0.8em;
	}
	section.caract .detalles ul li{
		font-size: 0.7em;
	}
	
}

/* IPAD VERTICAL */
@media (max-width: 940px){	
	aside#contact_ficha{
		display:none;
	}
	.header_ficha .superior{
		width:98%;
		margin-top: 60px;
	}
	.header_ficha .inferior{
		width:98%;
	}
	.header_ficha .utils{
		top: -40px;
		background-color: #f3f3f3;
		width:100%;
	}
		.header_ficha .utils li {
	    	display: inline-block;
	    	font-size: 0.75em;
	    	margin-right: -3px;
	    	padding-left: 40px;
	    	position: relative;
	    	text-align: center;
	    	width: 33.3333%;
		}
		.header_ficha .utils li span{
	    	display: inline-block;
    		width: auto;
    		margin-top: 0px;
    		padding-bottom: 14px;
		}
			.header_ficha .utils li a::before{
				position:absolute !important;
				left:inherit;
			}
			.header_ficha .utils li#utils_inmusim a::before, .header_ficha .utils li#utils_alert a::before, .header_ficha .utils li#utils_fav a::before {
				left:inherit;
				margin-left: -40px;
			    top: -3px;
			}
	section.ficha{
		width:98%;
	}
	section.caract .detalles{		
    	width: 81%;
    	margin-left: 2%;
	}
	
	.contactar_responsive{
	 	background-color: red;
    	display: block;
    	position: fixed;
    	text-align: center;
    	top: calc(100% - 50px);
    	vertical-align: middle;
    	width: 100%;
    	z-index: 10;
	}
		.contactar_responsive a{
			float: left;
    		padding: 10px 0;
    		text-align: center;
    		width: 100%;
		}
		.contactar_responsive .ico{
			display: inline-block;
    		vertical-align: middle;
		}
		.contactar_responsive p{
			color: #fff;
    		display: inline-block;
    		font-family: raleway_bold;
    		font-size: 1.5em;
    		margin-left: 15px;
    		text-transform: uppercase;
    		vertical-align: middle;
		}
		section.inmusimi .bloqueminifichas .minifichas .minificha{
			width:49%;
		}
		section.inmusimi .minificha:nth-child(2){
			float: right;
			margin-left: 0;
			margin-right: 0;
		}
		section.inmusimi .bloqueminifichas .minifichas .minificha:nth-child(3) {
    		display: none;
		}
	#ficha_inmu footer{
		padding-bottom: 50px;
	}
	aside#contact_ficha {
    	display: none;
	    top: 10%;
    	z-index: 11;
    	width: 100%;
    	left: 0;
    	font-size: 1.5em;
    	position: fixed;
	}
	aside#contact_ficha .contact_form{
    	width: 60%;
    	right: 0;
    	left: 20%;
	}
		#ficha_inmu .contact_form .cerrar{
			display:inline-block;
		}
		.tipoficha .contact_form .cuerpo input{
			margin: 10px 5%;
		}
	/*STICK*/	
	.header_ficha.stick{
		top: 4px;
	}
		.header_ficha.stick .utils{
			    top: -46px;
		}
		.header_ficha.stick .superior{
			margin-top: 70px;
		}
	
}

/* MQ para 765 de maximo */
@media (max-width: 765px){
	html {
		font-size: 15px;
	}
	.tipoficha header#general{
		position:relative;
	}
	
	.tipoficha header#logonav{
    	position: relative;
	    top: 0px !important;
	}
	.header_ficha{
		position: relative;
		top: 0px !important;
	    margin-bottom: 0;
        padding: 0 1%;
	}
	.header_ficha .superior{
		margin-top: 0px;
	    padding: 5px 0;
	}
	.header_ficha hgroup{
		display:inline-block;
		width:100%;
	}
		.header_ficha hgroup h1{
			width: 80%;
			font-size: 1.2em;
		}	
	.header_ficha .precios {    	
    	display: inline-block;
    	width: 49%;    	
	}
	.header_ficha .precios p{
		text-align:left !important;
	}
	.header_ficha .precios p.antes, .header_ficha .precios p.descuen{
		font-size: 1em;
	}
	.header_ficha .inferior {
    	width: 98%;
    	position: absolute;
    	top: 53px;
    	border: none;
    	background-color: transparent;
    	display: none;
	}
		.header_ficha .inferior ul{
			display:none;
		}
		
	.header_ficha .superior .cuota_mobile{
		display: inline-block;
    	width: 49%;
    	text-align: right;
    	vertical-align: middle;
    	padding-top: 5px;
	}	
		
	.header_ficha .superior .preciocuota{
		border-top: 1px solid #ccc;
    	margin-top: 10px;
	}
	.header_ficha .superior .cuota_mobile p{
    	display: inline-block;
    	width: 100px;
    	vertical-align: middle;
	    text-align: center;
    	color: #8e8d8d;
    	font-family: Raleway_medium;
	}
	.header_ficha .superior .cuota_mobile p.cuota_text span{		
    	border-radius: 5px;
    	display: inline-block;
    	text-align: center;
    	vertical-align: middle;
    	position: relative;
    	color: red;
    	font-family: raleway_bold;
	}
		.header_ficha .superior .cuota_mobile .simulador{
			display: inline-block;
		}
			.header_ficha .superior .cuota_mobile .simulador p{
				width: auto;
    			margin-left: 10px;
    			
			}
			.header_ficha .superior .cuota_mobile .simulador p a{
	 			color: #fff;
	    		display: inline-block;
	    		font-family: raleway_light;
				font-size: 0.813em;
	    		line-height: 13px;    		
	    		vertical-align: middle;
	    		
			}
			.header_ficha .superior .cuota_mobile .simulador p a::before {    		
	    		content:"\00a0";
	    		background: transparent url("/images/ficha/ico_cuota_mobile.png") no-repeat scroll center top;			
	    		height: 32px;
	    		width: 27px;    		    
	    		display: inline-block;
	    		position: relative;
	    		left: -5px;
			}
		
			
		.header_ficha .inferior .cuota p.cuota_text{
			font-size: 1em;
    		width: 100px;
    		text-align: right !important;
    		vertical-align: middle;
		}
	
	.header_ficha .utils{
		background: transparent;
		top:0;
	}
	.header_ficha .utils li#utils_inmusim, .header_ficha .utils li#utils_alert{
		display:none;
	}
	.header_ficha .utils li#utils_fav{
    	position: absolute;
    	right: 10px;
	    text-align: right;
	}
		.header_ficha .utils li#utils_fav a::before{
			top:-8px;
		}
    
		.header_ficha .utils li span{
			display:none;
		}
		
	.header_ficha .inferior .simulador{
		background-color: transparent;
	}
	.header_ficha .inferior .simulador p a {
		padding:0;
	}
	.header_ficha .inferior .simulador a::before{
		background:transparent url("/images/ficha/ico_cuota_mobile.png") no-repeat scroll center top;
	    display: inline-block;
    	position: relative;
    	left: -5px;
	}
		.header_ficha .inferior .simulador a span{
			display:none;
		}
		
	/*STICK*/
	.header_ficha.stick .superior{
		margin-top: 30px;
	}
	.header_ficha.stick .utils{
		margin-top: 38px;
	}
		
		section.ficha{
			margin-top: 220px;
		}
		
	
	section.ficha{
		margin-top: 0;
	}	
		
		
	section.caract{
    	margin: 20px 0;
	}
		section.caract .detalles{
	    	width: 100%;
    		margin-left: 0;
		}
			section.caract .detalles ul {
    			padding: 0;
    			padding-left: 18%;
			}
				section.caract .detalles ul li{				
		        	margin-right: 0;
    				width: 49%;
    				font-size: 0.8em;
				}
				
	section.caract .botones{
		width:100%;
		text-align: center;
		margin:10px 0;
	}
		section.caract .botones .vermapa{
			display:inline-block;
		    margin-right: 6%;
	        margin-bottom: 20px;
		}			
	
	#ficha_inmu .box_tipodesp{		
    	margin-top: 20px;
    	padding-left: 2%;
    	border-bottom: none;
    	padding-right: 2%;
	}
				
	section.ubicacion{
		display:none;
	}
	section.descripcion{
		margin-bottom: 0;
	    padding: 0 2%;
	}
		section.descripcion p{
			font-size: 1.1em;
			margin-bottom: 20px;
    		line-height: 30px;
		}
	
	section.certificado .certificadobox{
		margin-left: 15px;
	}
	section.certificado .certificadobox  img{
    	margin-right: 10px;
	}
	section.certificado .certificadobox p{
    	font-size: 1em;
    	width: 255px;
	}
	
	section.descargas .descboxes .descbox{
		width:50%;
		margin-bottom: 20px;
	}
	
	section.propietario .propi .texto{
		margin-left: 15px;
	}
	section.propietario .propi .logopropi {
    	display: inline-block;
    	width: 50%;
    	text-align: center;
	}
		section.propietario .propi .logopropi img{
			width:100%;
		}
		
	section.campa_asoc .box_campa{
		text-align: center;
	}
	
	section.utils{
		border-top: 1px solid #cac8c8;
	}
	
	section.inmusimi h3{
		text-indent: 15px;
	}
	section.inmusimi .bloqueminifichas .minifichas{
		float: left;
    	margin-left: 10%;
    	position: relative;
    	width: 80%;
	}
	section.inmusimi .next, section.inmusimi .back{
		width:10%;
	}
	section.inmusimi .next a::before, section.inmusimi .back a::before{
		font-size: 2em;
	}
	section.inmusimi .bloqueminifichas .minifichas .minificha {
	    width: 100%;
    	/* margin-left: 4%; */
    }
	section.inmusimi .bloqueminifichas .minifichas .minificha:nth-child(2) {
    	display: none;
	}
	
	/*FICHA PROMO*/
	.bloque{
		/* width:33.3333333% !important; */
	}
	.bloque.habitaciones, .bloque.enlace{
		display:none !important;
	}
	.contactar_responsive{
		bottom:0;
		top:inherit;
	}
	
	aside#contact_ficha {
    	display: none;
    	z-index: 11;
    	width: 90%;
    	left: 0%;
    	position: fixed;
    	top: 5%;
    	font-size: 1em;
	}
	aside#contact_ficha.stick{
		top:5%;
	}
	aside#contact_ficha .contact_form{
		width:100%;
    	left: 5%;
	}
		#ficha_inmu .contact_form .cerrar{
			display:inline-block;
		}
	
}


/* mobile 320px y menos*/
@media (max-width: 320px){
	html{
		font-size: 11px;
	}
	header#logonav .logohead{
		width:40%;
	}
		header#logonav .logohead img{
			width:100%;
		}
	
	.contact_responsive{
		left:62%;
	}
		
	header nav#responsive p{
		padding-top: 20px;
	}
	
	section.infocomple .desple .bloque p.info{
		margin-left: 10px;
	}
	section.certificado .certificadobox{
		text-align: center;
	}
	section.caract .detalles ul{
		
	}
	
	section.propietario .propi .texto{
		margin-left: 0;
    	text-align: center;
    	width: 100%;
	}
		section.propietario .propi .texto p{
			line-height: inherit;
		}
	section.propietario .propi .logopropi {
    	display: inline-block;
    	width: 100%;
    	margin-top: 10px;
    	text-align: center;
	}
		section.propietario .propi .logopropi img {
	    	width: auto;
	    	max-width: 300px;
		}
	
	section.campa_asoc .box_campa{
    	width: 50%;
		margin-left: 0;
	}
	section.campa_asoc .box_campa:last-child{
		float:right;
	}
	.tipoficha .contact_form .cuerpo input{
		margin: 5px 5%;
	}
	
}