/* iPads (portrait and landscape) */
@media (max-width: 1024px){	
	
	html{
		font-size: 15px;
	}
	section#buscador .cajabuscador .tipo select{
		margin-top: 0;
	}
	section#buscador .cajabuscador .send::before{
		left: 11%;
	}	
}

/* tablets menos de 1024 */
@media (max-width: 1023px){	
	
	html{
		font-size: 12px;
	}
	
}

/* mobile menos de 1023 */
@media (max-width: 1022px){
	html{
		font-size: 14px;
	}
	h2{
		font-size: 2em !important;
		width: 96%;
		margin-left: 2%;
	}
	h3{
		font-size: 1.5em!important;
		width: 96%;
		margin-left: 2%;
	}
	
	
	
	/*BUSCADOR*/
	section#buscador{
		height:470px;
	}
	section#buscador h1.h1title{
 		color:transparent;
 		text-shadow: inherit;
	}
	section#buscador .cajabuscador{
		height: 290px;
    	margin-left: 0;
    	/* margin-top: 120px; */
    	margin-top: 12%;
    	width: 100%;		
	}
	section#buscador .cajabuscador .tipo{
		margin-left:2%;
		width:96%;
	 	border-radius: 0;
	 	margin-bottom: 10px;
	 	overflow: hidden;
	}
	section#buscador .cajabuscador .tipo select{
		
	}
	section#buscador .cajabuscador .semanti {   
    	margin-left: 2%;
    	width: 96%;
	}
	
	section#buscador .cajabuscador .lineastipobusc{
		 margin-left: 0;
    	text-align: center;
    	width: 100%;
	}
	section#buscador .cajabuscador .lineastipobusc p{
		display:none;
	}
	
	section#buscador .cajabuscador .send{
	 	margin-left: 15%;
    	margin-top: 170px;
    	position: absolute;
    	width: 70%;
	}
	section#buscador .cajabuscador .send::before{
		left:19px;
	}
		section#buscador .cajabuscador .send input{
			border-radius: 7px;
			text-indent: 0;
		}
	
	section#buscador .items{
		display:none;
	}
	
	/*CAMPANAS*/
	section#promos{
		margin-top: 30px;
	}
		section#promos .campanas{
			margin-top: 30px;
		}
			section#promos .campanas .campana{
				width:100%;
				margin-left: 2%;
    			width: 96%;
			}
			section#promos .campanas .campana:nth-child(2n+1){
				margin-left: 2%;
			}
			section#promos .campanas .campana:nth-child(2n){
				margin-right: 0;
				float: left;
			}
			section#promos .campanas .campana img{
				max-width:100%;
			}
	
	/*BLOG*/
	section#blog{
		margin-top: 30px;
		width:96%;
		margin-left: 2%;
	}
		section#blog .prevarticle{
			left:2%;
			height: 380px;
			top: 88px;
		}
		section#blog .entrada{
			margin-top: 30px;			
    		width:100%;
		}
		section#blog .nextarticle{
			right:2%;
			height: 380px;
			top: 88px;
		}
		section#blog .entrada .texto{
			margin-left: 0;
			margin-top: -80px;
    		position: relative;
    		width: 100%;
		}
			section#blog .entrada .texto .titulo{
				text-align: center;
			}
			section#blog .entrada .texto .titulo h4 {
			    background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(97, 97, 97, 0.5) 85%, rgba(97, 97, 97, 0.85) 100%);
			    background: -moz-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(97, 97, 97, 0.5) 85%, rgba(97, 97, 97, 0.85) 100%);
			    background: -o-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(97, 97, 97, 0.5) 85%, rgba(97, 97, 97, 0.85) 100%);
			    background: -webkit-gradient(linear, 0 100%, 0 0, from(rgba(255, 255, 255, 0)), color-stop(0.85, rgba(97, 97, 97, 0.5)), to(rgba(97, 97, 97, 0.85)));
			    background: rgba(0, 0, 0, 0) linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(97, 97, 97, 0.5) 85%, rgba(97, 97, 97, 0.85) 100%) repeat scroll 0 0;
			    height: 80px;
			}
			section#blog .entrada .texto .titulo h4 a{
				color:#fff;
			 	height: 70px;
    			overflow: hidden;
    			font-size: 1.8em;
    			display:inline-block;
    			width:90%;
			  
			}
			section#blog .entrada .texto p{
				display:none;
			}
			section#blog .entrada .texto p.vermas{
				margin-top: 15px;
			}
			
		section#blog .entrada .foto{
			width:100%;
			height:380px;
			background-image:/* linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(97, 97, 97, 0.5) 85%, rgba(97, 97, 97, 0.85) 100%),  */url("/images/blog/cap1-ventajas-comprar-vivienda-pareja.jpg");
		}
		
	/*BANNERS*/
	section#banners{
		margin-top: 30px;
		margin-bottom: 30px;
		}
		section#banners .banners{
			margin-top: 30px;
		}
			section#banners .banners .banner{
				width:96%;
				margin-left: 2%;					
			}
			section#banners .banners .banner:nth-child(2n+1){
				margin-left: 2%;;
			}
			section#banners .banners .banner:nth-child(2){
				float: left;
				margin-left: 2%;
			}
				section#banners .banners .banner img {
					max-width:100%;
				}
				
	
}


/* mobile 320px y menos*/
@media (max-width: 320px){
	html{
		font-size: 11px;
	}
	header#logonav .logohead{
		width:40%;
	}	
	
	
	header nav#responsive{
		margin-top: -10px;
	}		    
		header nav#responsive p{
			padding-top: 20px;
		}
	section#blog .entrada .texto .titulo h4{
		/* height:59px; */
	}
	section#blog .entrada .texto p.vermas {
    	margin-top: 25px;
	}
}