/*FONT FACE */
@font-face {
	font-family: 'icomoon';
	src: url('fonts/IcoMoon-Ultimate.ttf?-mxku12') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: "Raleway";	
	src: url('fonts/Raleway-Regular.ttf');
	font-weight: normal;
}

@font-face {
	font-family: "Raleway_semibold";
	src: url('fonts/Raleway-semibold.ttf') format('truetype');
	font-weight: normal;
}


@font-face {
	font-family: "Raleway_bold";
	src: url('fonts/Raleway-Bold.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: "Raleway_light";
	src: url('fonts/Raleway-Light.ttf');
	font-weight: normal;
}

@font-face {
	font-family: "Raleway_thin";
	src: url('fonts/Raleway-Thin.ttf');
	font-weight: normal;
}

@font-face {
	font-family: "Raleway_medium";
	src: url('fonts/Raleway-Medium.ttf');
	font-weight: normal;
}

/************************* COMUN ********************************/
html{
	font-family: 'Raleway', sans-serif;
	text-rendering: optimizelegibility;
	color: #414141;
	font-size: 16px;
}

h1, h2, h3, h4,h5,h6,strong{font-weight: normal;}

.contentgeneric{
	max-width:1200px;
	margin:0px auto;
	position:relative;
}





/*HEADER GENERAL INMUEBLES VISITADOS Y LOGIN*/
header#general{
	background-color: #414141;
	height:50px;	
}
	header#general #pUltimosVisitados{
		float: left;
    	margin-left: 1%;
    	padding: 13px 0;
    	text-transform: uppercase;
	}
		header#general #pUltimosVisitados a{
			color:#fff;
			font-size: 0.875em;
		}
		header#general #pUltimosVisitados a::before{
			font-family: 'icomoon';
			content:"\eddd";
		  	font-size: 1.3em;
    		margin-right: 15px;
    		vertical-align: middle;
		}
		
		header#general p.loginhead{
			background-color: #c3c3c3;
			float: right;
    		font-size: 0.875em;
    		height: 50px;			
    		padding-top: 15px;
    		text-align: center;
    		text-transform: uppercase;
    		width: 210px;    		
		}
		header#general p.loginhead::before{
  			background: transparent url("/images/ico_user.png") no-repeat scroll center center;
			content: "\00a0";
			display: inline-block;
			height: 24px;
			vertical-align: middle;
			width: 24px;
		}
			header#general p.loginhead a{
				color:#414141;
			}
				header#general p.loginhead a.acceso {
    				margin-left: 5px;
					margin-right: 5px;	
				}
				header#general p.loginhead a.registro {
    				margin-left: 5px;	
				}

/*USUARIO LOGEADO*/
header#general .usuarioconect{
	background-color: #c3c3c3;
    float: right;
    font-size: 1em;
    height: 50px;
    min-width: 210px;
    padding: 16px 2% 0 45px;
    position: relative;
    text-align: center;
	text-transform: uppercase;
	display:none;
}
	header#general .usuarioconect::before{
		background: transparent url("/images/ico_user.png") no-repeat scroll center center;
		content: "\00a0";
    	display: inline-block;
    	height: 24px;
    	left: 10px;
    	position: absolute;
    	top: 13px;
    	vertical-align: middle;
    	width: 24px;
	}

header#general .usuarioconect a{
	color:#fff;
}
/*CUANDO DEPLEGA MENU USUARIO*/
header#general .usuarioconect.desple{
	background-color: #fff;
}
	header#general .usuarioconect.desple a{
		color:#414141;
	}

header#general #menuAreaPrivada{
	background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    position: absolute;
    right: 0;
    top: 51px;
    width: 285px;
    z-index: 1002;
}
	header#general #menuAreaPrivada ul{
  		float: left;
    	margin: 0;
	   	padding: 2% 0;
    	width: 100%;
    	text-align: left;
	}
		header#general #menuAreaPrivada ul li{
			float: left;
    		width: 100%;
    		font-size: 1.250em;
		 	text-transform: capitalize;		 	
		}
			header#general #menuAreaPrivada ul li a{
				 color: #333;
				 padding:10px 10px 10px 65px;
				 float: left;
				 width:100%;
			  	position: relative;
 			}
 			header#general #menuAreaPrivada ul li a:hover{
 			 	background-color: rgba(150, 150, 150, 0.1);
		 	}
			
#menuAreaPrivada li a::before {
    content: " ";
    height: 26px;
    left: 20px;
    position: absolute;
    top: 8px;
    width: 27px;
}
#menuAreaPrivada li.inicio a::before {
    background: transparent url("/images/areapriv/menu_home.png") no-repeat scroll 0 0;
}
#menuAreaPrivada li.fav a::before {
    background: transparent url("/images/areapriv/menu_fav.png") no-repeat scroll 0 0;
}
#menuAreaPrivada li.buscguard a::before {
    background: transparent url("/images/areapriv/menu_busq_guard.png") no-repeat scroll 0 0;
}
#menuAreaPrivada li.inmuguard a::before {
    background: transparent url("/images/areapriv/menu_inmu_guard.png") no-repeat scroll 0 0;
}
#menuAreaPrivada li.solicenv a::before {
    background: transparent url("/images/areapriv/menu_consultas.png") no-repeat scroll 0 0;
}
#menuAreaPrivada li.suscrip a::before {
    background: transparent url("/images/areapriv/menu_suscripciones.png") no-repeat scroll 0 0;
}
#menuAreaPrivada li.perfil a::before {
    background: transparent url("/images/areapriv/menu_perfil.png") no-repeat scroll 0 0;
}
#menuAreaPrivada li.exit a::before {
    background: transparent url("/images/areapriv/menu_exit.png") no-repeat scroll 0 0;
}


/***************** INDEX ****************/
/*HEADER LOGO Y NAV*/
header#logonav{
	background-color: #fff;
	height:70px;
	position: relative;	
}
	header#logonav .logohead{
 		float: left;
    	margin-left: 1%;
    	width: 196px;
    	padding-top: 15px;
    	position: relative;
    	z-index: 3;
	}
		header#logonav .contact{		 	
			float: left;    		
    		padding-top: 19px;
    		text-align: center;
    		width: 60%;
		}
			header#logonav .contact .seccion{				
				display: inline-block;
    			margin: 0px -2px;			
			}
				
				header#logonav .contact .seccion p{
					display: inline-block;
					font-size: 1.125em;
				}
				header#logonav .contact .seccion p a{
					color: #414141;
					padding: 25px 10px;
				}
					header#logonav .contact .seccion p a:hover{
						background-color: #f2f2f2;
					}
					header#logonav .contact .seccion p img{
				 		display: inline-block;
    					vertical-align: middle;
					}
	
	.contact_responsive{
		display:none
	}
	header#logonav nav#menu{
		float: right;
    	margin-right: 1%;
		margin-top: 27px;		
	}
		header#logonav nav#menu li{
			display: inline-block;
			text-transform: uppercase;
		}
			header#logonav nav#menu li a{
				color:#414141;
				margin-right: 10px;
				padding-bottom: 20px;
			}
			header#logonav nav#menu li a:hover, header#logonav nav#menu li.select a{
				border-bottom:4px solid red;
				color:red;
				font-family: raleway_bold;
			}

/*NAV RESPONSIVE*/
header nav#responsive{
	display:none;
	position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width: 100%;
}
header nav#responsive p{
	margin-right: 10px;
    padding-top: 5px;
    
}
	header nav#responsive p a{
	 	color: #a0a0a0;
    	font-family: raleway_medium;
    	font-size: 1.357em;
    	text-transform: capitalize;
	}
	header nav#responsive p a::after{
		font-family: icomoon;
		content:"\ec6e";
		font-size: 2em;
		vertical-align: middle;
		margin-left: 10px;
	}
		header nav#responsive ul{
			background-color: #fff;
    		left: 0;
    		position: absolute;
    		text-align: center;
    		top: 50px;
    		width: 100%;
    		z-index: 5;
    		box-shadow: 0 -3px 20px rgba(133, 133, 133, 0.2);
    		display:none;
		}
			header nav#responsive ul li{}
				header nav#responsive ul li a{
					color: #414141;
					font-family: raleway_medium;
    				font-size: 1.429em;
				 	padding: 12px 0;
				 	display:inline-block;
				 	width:100%;
				 	
				}
				header nav#responsive ul li a:hover{
					background-color: #e1e1e1;
				}

/*SECCION BUSCADOR INDEX*/
section#buscador{
 	display: inline-block;
    position: relative;
    width: 100%;
    height: 888px;
	
}	
	section#buscador h1.h1title{
		 color: #fff;
    	font-size: 2em;
    	position: absolute;
    	text-align: center;
    	text-shadow: 0 0 4px #666;
    	top: 130px;
    	width: 100%;
    	z-index: 2;
    	text-transform: uppercase;
    	
	}
	section#buscador #bgimage{
 		height: 100% !important;
    	overflow: hidden;
    	position: absolute;
    	width: 100%;
    	z-index: 1;
	}

section#buscador .cajabuscador{
	width:98%;
	margin-left: 1%;
	background-color: rgba(195,195,195, .85);
	-webkit-box-shadow: -5px 14px 30px 19px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:-5px 14px 30px 19px rgba(0, 0, 0, 0.4);
	box-shadow:-5px 14px 30px 19px rgba(0, 0, 0, 0.4);
	height:177px;
	/* margin-top: 270px; */
	margin-top: 20%;
	position:relative;
	z-index: 2;
}
section#buscador .cajabuscador .tipooper{
	display: block;
    margin-left: 30px;
    width: calc(100% - 30px);
}
	
	section#buscador .cajabuscador .tipooper ul li{
		font-family: raleway_light;
		font-size: 1.5em;
		text-transform: uppercase;
		display:inline-block;
		border-top: 4px solid transparent;
	 	margin: 0 10px;
		padding: 10px;
	}		
		section#buscador .cajabuscador .tipooper ul li a{
			color:#414141
		}					
		
		section#buscador .cajabuscador .tipooper ul li:hover, section#buscador .cajabuscador .tipooper ul li.selected{
			border-top: 4px solid red;
			font-family: raleway_bold;
		}
			section#buscador .cajabuscador .tipooper ul li.selected a, section#buscador .cajabuscador .tipooper ul li:hover a{
				color:red;
			}

section#buscador .cajabuscador .lineaselect {
    float: left;
    margin-top: 6px;
    width: 100%;
}			
section#buscador .cajabuscador .tipo{
 	/* background: #ffffff url("/images/select_cursor.png") no-repeat scroll 97% center; */
    /* border-radius: 7px 0 0 7px; */
    float: left;
    /* height: 49px; */
    margin-left: 35px;
    margin-right: 10px;
    /* overflow: hidden; */
    width: 17%;    
}
/*ESTILOS SELECT*/
section#buscador .cajabuscador .tipo a.selectBox {
	background: #fff none repeat scroll 0 0;
    border:1px solid #fff;
    height: 49px;
    line-height: 49px;
    border-radius: 7px 0 0 7px;
    width:100% !important;
}

section#buscador .cajabuscador .tipo a.selectBox .selectBox-arrow{
	border:none;
	background: rgba(0, 0, 0, 0) url("/images/select_cursor.png") no-repeat scroll 50% center;
}
ul.selectBox-dropdown-menu {
	margin-left: 0px;
    /* margin-top: -5px; */
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
	max-height: 300px;
	border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;  
    width:100%;
    border:1px solid #fff;  
}
ul.selectBox-dropdown-menu li a{
	padding:0.5em;

}

ul.selectBox-dropdown-menu li.selectBox-selected a {
   
    font-family: raleway_bold;
}



section#buscador .cajabuscador .tipo select{
	background: #ffffff url("/images/select_cursor.png") no-repeat scroll 93% center;
    border: medium none;
    float: left;
    font-family: Raleway_medium;
    font-size: 1.2em;
    height: 49px;
    text-indent: 10px;
    width: 105%;
}

section#buscador .cajabuscador .semanti{
	float: left;
	width:61%;
}
	section#buscador .cajabuscador .semanti input{
		font-size: 1em;
    	height: 49px;
    	text-indent: 15px;    	
    	width: 100%;
    	border:none;
	}
	
section#buscador .cajabuscador .send {
	float: left;
    margin-left: 10px;
    width: 15%;
    position:relative;
}
section#buscador .cajabuscador .send::before {
    background: transparent url("/images/lupa_buscar.png") no-repeat scroll 0 0;
    content: "\00a0";
    left: 19%;
    position: absolute;
    top: 11px;
    width: 27px;
    height: 27px;
}
	section#buscador .cajabuscador .send input{
		background-color: red;
    	border: medium none;
    	border-radius: 0 7px 7px 0;
    	color: #fff;
    	display: inline-block;
    	font-size:1.125em;
    	height: 49px;
    	text-indent: 23%;
    	text-transform: uppercase;
    	width: 100%;
	}


section#buscador .cajabuscador .lineastipobusc{
	float: left;
    margin-left: 20%;
    margin-top: 21px;
    width: 79%;
}
	section#buscador .cajabuscador .lineastipobusc p{
		display: inline-block;
		font-family: raleway_bold;
		font-size: 1.250em;
	}

section#buscador .cajabuscador .lineastipobusc .porlocali{
	display: inline-block;
	margin-left: 10px;
}
	section#buscador .cajabuscador .lineastipobusc .porlocali label{
  		font-family: Raleway_semibold;
    	font-size: 1.125em;
	}

section#buscador .cajabuscador .lineastipobusc .porref{
	display: inline-block;
	margin-left: 21px;
}
	section#buscador .cajabuscador .lineastipobusc .porref label{
  		font-family: Raleway_semibold;
    	font-size: 1.125em;
	} 

section#buscador .cajabuscador .lineastipobusc input[type="radio"] {
    left: 0;
    position: absolute;
    visibility: hidden;
}
section#buscador .cajabuscador .lineastipobusc input[type="radio"] ~ label::before {
   	content:"\00a0";
	background: transparent url("/images/check_nook.png") no-repeat scroll 0 0;
	display: inline-block;
	height: 20px;
    width: 25px;
    margin-right: 10px;
}
section#buscador .cajabuscador .lineastipobusc input[type="radio"]:checked ~ label::before {
	content:"\00a0";
   	background: transparent url("/images/check_ok.png") no-repeat scroll 0 0;
	display: inline-block;
	height: 19px;
    width: 25px;
    margin-right: 10px;
}

/*BOTON CONTACTAR*/
section#buscador .contact {
	box-shadow:0 3px 8px #656564;
    background-color: red;    
    position: absolute;
    right: 0;
    top:2%;
    z-index: 2;
    text-align: center;
 	border-radius: 8px 0 0 8px;
}
	section#buscador .contact a {
    	display: inline-block;
    	padding: 10px 25px;
	}
	section#buscador .contact .ico{
		padding:15px 0;
	}
		section#buscador .contact .texto{
			font-family: raleway_bold;
			color:#FFFFFF;			
		}

/*FORMULARIO CONTACTAR*/
section#buscador .contact_form{
	right:47%;
    position: absolute;    
    top: -2%;
    width: 320px;
    z-index: 3;
    display:none;
}

section#buscador .contact_form .cerrar a::after{
	background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 66%;
    color: #414141;
    content: "\ed6b";
    font-family: icomoon;
    font-size: 1.5em;
    position: absolute;
    right: -5px;
    top: 12px;
}

section#buscador .contact_form .titulo{
	background-color: red;
    color: #fff;
    float: left;
    font-family: raleway_bold;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    padding:20px 0;
}
	section#buscador .contact_form .titulo .ico{
 		display: inline-block;
    	vertical-align: middle;
    	margin-right: 10px;
	}
	section#buscador .contact_form .titulo p{
		display: inline-block;
	}	
	
section#buscador .contact_form .cuerpo{
	background-color: #e1e1e1;
    float: left;
    padding: 15px 0 10px;
    width: 100%;
}	
	
	section#buscador .contact_form .cuerpo input{
		border: medium none;
    	float: left;
    	margin: 5px 3%;
    	padding: 10px 20px;
    	width: 94%;
	}

section#buscador .contact_form .cuerpo .avisoleg{
	display:inline-block;
	width:100%;
	text-align: center;
 	margin: 20px 0;
}


section#buscador .contact_form .cuerpo .avisoleg label{
	font-family: Raleway_semibold;
    font-size: 0.813em;
    
    
}

section#buscador .contact_form .cuerpo .avisoleg input[type="checkbox"] {
    left: 0;
    position: absolute;
    visibility: hidden;
}

section#buscador .contact_form .cuerpo .avisoleg input[type="checkbox"] ~ label::before{
   	content:"\00a0";
	background: transparent url("/images/check_nook_red.png") no-repeat scroll 0 0;
	display: inline-block;
	height: 20px;
    width: 25px;
    margin-right: 10px;
}
section#buscador .contact_form .cuerpo .avisoleg input[type="checkbox"]:checked ~ label::before{
	content:"\00a0";
   	background: transparent url("/images/check_ok_red.png") no-repeat scroll 0 0;
	display: inline-block;
	height: 20px;
    width: 25px;
    margin-right: 10px;
}


section#buscador .contact_form .cuerpo p{
	display:inline-block;
	text-align: center;
	width:100%;
 	margin-bottom: 15px;
}
section#buscador .contact_form .cuerpo input[type="submit"]{
 	background-color: red;
    border: medium none;
    border-radius: 4px;
    box-shadow: 0 6px 0 #c60505;
    color: #fff;
    font-size: 1.2em;
    padding: 10px;
    text-transform: uppercase;
    width: 60%;
    margin-left: 20%;
    font-family: raleway_bold;
   }


	
 
section#buscador .items{
 	background-color: rgba(255, 255, 255, 0.8);
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
}
	section#buscador .items .item{		
		float: left;
		height: 170px;
    	width: 33%;
	}
		section#buscador .items .item a{
	 		display: table;
    		height: 100%;
    		width: 100%;
		}
		section#buscador .items .item a:hover{
			background-color: rgba(122, 142, 14, .8);
		}
			section#buscador .items .item a .ico{
		  		display: table-cell;
    			height: 100%;
    			padding-right: 20px;
    			text-align: right;
    			vertical-align: middle;
    			width:40%;
			}
				section#buscador .items .item a .ico img{
			  		max-width: 62px;
    				width: 100%;
				}
			section#buscador .items .item a .texto{
	  			color: #414141;
    			display: table-cell;
    			font-size: 1.25em;
    			height: 100%;
    			text-align: left;
    			text-transform: uppercase;
    			vertical-align: middle;
    			width: 60%;
			}
			section#buscador .items .item a:hover .texto{
				color:#fff;
			}
				section#buscador .items .item a .texto span{
					font-family: Raleway_semibold;
				}
	
	
	
	
/*SECCION CAMPANAS INDEX*/
section#promos{
 	display: inline-block;
	margin-top: 95px;
	width:100%;
}
	section#promos h2{
		font-family: raleway_bold;
    	font-size: 2.5em;
    	text-align: center;
	}
	section#promos h3{
		color: red;
    	font-family: raleway_light;
    	font-size: 1.875em;
    	text-align: center
	}
	
	section#promos .campanas{
		float: left;
		width:100%;
		margin-top: 60px;
	}
	section#promos .campanas .campana{
		float: left;
    	margin-bottom: 1.5%;
    	text-align: center;
    	width: 48%;
	}
	section#promos .campanas .campana:nth-child(2n+1) {
    	margin-left: 1%;
	}
	section#promos .campanas .campana:nth-child(2n) {
    	float: right;
    	margin-right: 1%;
	}
		section#promos .campanas .campana img{
			width:100%;
			max-width: 580px;
		}




/*SECCION BLOG INDEX*/
section#blog{
	 display: inline-block;
	 margin-top: 75px;
	 width:100%;
}
	section#blog h2{
		font-family: raleway_bold;
    	font-size: 2.5em;
    	text-align: center;
	}
	section#blog h3{
		color: red;
    	font-family: raleway_light;
    	font-size: 1.875em;
    	text-align: center
	}
/* FLECHA IZQDA*/
section#blog .prevarticle {
    height: 420px;
    top: 133px;
    position: absolute;
    vertical-align: middle;
    z-index: 2;
}
	section#blog .prevarticle a {
		display: table;
    	height: 100%;
    	vertical-align: middle;
    	width: 100%;
	}
		section#blog .prevarticle a:before{
			color: #cdcdcd;
    		content: "\edc2";
    		display: table-cell;
    		font-family: icomoon;
    		font-size: 3em;
    		vertical-align: middle;
    		z-index: 2;
		}


/* FLECHA dcha*/
section#blog .nextarticle {
    height: 420px;
    top: 133px;
    position: absolute;
    vertical-align: middle;
    z-index: 2;
    right:0;
}
	section#blog .nextarticle a {
		display: table;
    	height: 100%;
    	vertical-align: middle;
    	width: 100%;
	}
		section#blog .nextarticle a::before{
			color: #cdcdcd;
    		content: "\edba";
    		display: table-cell;
    		font-family: icomoon;
    		font-size: 3em;
    		vertical-align: middle;
    		z-index: 2;
		}



section#blog .entrada{
	display:inline-block;
	width:100%;
	margin-top: 50px;
}
	section#blog .entrada .foto{
		background-image:/* linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 40%),  */url("/images/blog/cap1-ventajas-comprar-vivienda-pareja.jpg");
		background-size:cover;
		background-position:center center;
		float: left;
    	height: 420px;
    	overflow: hidden;
    	position: relative;
    	text-align: center;
    	width: 47%;
	}
		section#blog .entrada .foto img{
			 height: 100%;
		}
	section#blog .entrada .texto{
		float: left;
    	margin-left: 2%;
    	width: 45%;
	}
		section#blog .entrada .texto .titulo a{
			color: #9a9b22;
    		font-family: raleway_light;
    		font-size: 2.125em;
		}
		section#blog .entrada .texto p{
			color: #606060;
    		font-family: raleway_light;
    		font-size: 1.125em;
    		margin: 15px 0;
		}
		section#blog .entrada .texto p.vermas a{
			color: #9a9b22;
    		display: inline-block;
    		font-family: raleway_semibold;
    		margin-top: 10px;
    		text-transform:uppercase;
    		width: 100%;
		}
			section#blog .entrada .texto p.vermas a{
				color: #9a9b22;				
			}
		

/*SECCION BANNERS*/
section#banners{
 	display: inline-block;
	margin-top: 95px;
	margin-bottom: 180px;
	width:100%;
}
	section#banners h2{
		font-family: raleway_bold;
    	font-size: 2.5em;
    	text-align: center;
	}
	section#banners h3{
		color: red;
    	font-family: raleway_light;
    	font-size: 1.875em;
    	text-align: center
	}
	
	section#banners .banners{
		float: left;
		width:100%;
		margin-top: 60px;
	}
	section#banners .banners .banner{
		float: left;
    	margin-bottom: 1.5%;
    	text-align: center;
    	width: 48%;
	}
	
	section#banners .banners .banner:nth-child(2n+1) {
    	margin-left: 1%;
	}
	section#banners .banners .banner:nth-child(2n) {
    	float: right;
    	margin-right: 1%;
	}
		section#banners .banners .banner img{
			width:100%;
			max-width: 580px;
		}
		





/*ESTILOS PARA LOS SELECT***/
#index ~ #tipo {
    margin-top: -2px;
    width: 199px !important;
}







/****************** BUSCADOR PAGINA *********/
section.mapa{
	height: calc(100% - 222px);
	position: absolute;
	top: 189px;
	width: 66%;
}
	section.mapa > *{
		width:100%;
		height:100%;
	}


section.filtrador{
	background-color: rgba(234, 234, 234, 0.9);
    float: left;
    height: 70px;
    width: 100%;
    margin-top: -1px;
    padding-top: 15px;
}
section.filtrador .semanti{
  	float: left;
    margin-left: 1%;
    width: 28%; 
    margin-right: 8px;	
}
	section.filtrador .semanti input{
		border: 1px solid #c3c3c3;
    	border-radius: 7px 0 0 7px;
    	height: 40px;    	
    	width: 100%;
    	text-indent:15px ;
	}

section.filtrador .send{
	 float: left;
}
	section.filtrador .send input{
		background: red url("/images/lupa_buscar.png") no-repeat scroll center center;
    	border: medium none;
    	border-radius: 0 7px 7px 0;
    	height: 40px;
    	width: 45px;
	}
		


/*ESTILOS SELECT*/
select#tipo {
    margin-top: 12px;
    }
section.filtrador .tipo{
	float: left;	
	width: 140px;
	margin-top: -5px;
	margin-left: 1%;
	
}
section.filtrador a.selectBox {
	background: transparent;
	box-shadow:none;
    border:none;
    height: 49px;
    line-height: 49px;
   /*  border-radius: 7px 0 0 7px; */ 	
    /* width:100% !important; */
}
section.filtrador a.selectBox .selectBox-label{
	 background: rgba(0, 0, 0, 0) url("/images/select_cursor.png") no-repeat scroll right center;
}
section.filtrador a.selectBox .selectBox-arrow{
	display:none;
	border:none;	
}
ul.selectBox-dropdown-menu {
	margin-left: 0px;
    
    box-shadow: none;
	max-height: 300px;
	border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;  
    width:100%;
    border:1px solid #fff;  
}
ul.selectBox-dropdown-menu li a{
	padding:0.5em;

}

ul.selectBox-dropdown-menu li.selectBox-selected a {
   
    font-family: raleway_bold;
}



section.filtrador .precio{
	float: left;
	width: auto;
	margin-top: 12px;
	margin-left: 1%;
	margin-right: 4%;
	position:relative;	
}
section.filtrador .precio::after {
	background: rgba(0, 0, 0, 0) url("/images/select_cursor.png") no-repeat scroll right center;
	content: "\00a0";
	position: absolute;
	right: -18px;
	top: 0;
	width: 10px;
}
	section.filtrador .precio .selectprecio{
		display:inline-block;
		width:49%;
		display:none;
	}
	
.precio > p {
    color:#000
}

section.filtrador .guardbusq{
 	float:right;    
    margin-top: 10px;
  	margin-right: 1%;
}
	section.filtrador .guardbusq a{
	 	background-color: #798e0e;
    	border-radius: 7px;
    	color: #c6e22d;
    	font-family: raleway_semibold;
    	padding: 10px;
	}
	section.filtrador .guardbusq a::before{
		content:"\00a0";
		background: transparent url("/images/ico_guardabusq.png") no-repeat scroll left center;    
    	display: inline-block;
    	height: 22px;
    	margin-right: 15px;
    	vertical-align: middle;
    	width: 21px;
	}
	section.filtrador .guardbusq a:hover{
		background-color: #4c5908;
	}



section.filtrador_mobile{
	display:none;
}

/*ASIDE MINIFICHAS*/
aside.minifichas{
 	background-color: #fff;
    height: calc(100% - 225px);
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 190px;
    width: 33%;
}
	aside.minifichas header{
 		float: left;
    	margin: 2% 0;
    	width: 100%
	}
		aside.minifichas header h1{
		 	display: block;
    		text-align: center;
    		font-size: 1.2em;
    		 margin: 0;
		}
			aside.minifichas header h1 span{
				font-family: raleway_bold;
			}
			
	aside.minifichas .ordenar{
		text-align: center;
		 margin-top: 15px;
	}
		aside.minifichas .ordenar label{
			font-family: raleway_bold;
    		font-size: 0.9em;
		}
		/*ESTILOS SELECT*/
		.filtrador aside.minifichas .ordenar{
			display:inline-block;
			width: 10%;
			margin-top: -5px;
			margin-left: 1%;
		}
		aside.minifichas .ordenar a.selectBox {
			background: transparent;
			box-shadow:none;
		    border:none;
		    border-bottom: 1px solid #414141;
		    display:inline-block;
		    border-radius:0;
		    line-height: 1;
	     	margin-top: 5px;
		}
		aside.minifichas .ordenar a.selectBox.selectBox-dropdown .selectBox-label{
			padding:0 8px;
			text-align: center;
			font-size: 0.8em;
			color:#8f8f8f
		}

		aside.minifichas .ordenar a.selectBox .selectBox-arrow{
			border:none;
			background: rgba(0, 0, 0, 0) url("/images/select_cursor.png") no-repeat scroll 50% center;
		}
		ul.selectBox-dropdown-menu {
			margin-left: 0px;
		    
		    box-shadow: none;
			max-height: 300px;
			border-bottom-left-radius: 7px;
		    border-bottom-right-radius: 7px;  
		    width:100%;
		    border:1px solid #fff;  
		}
		ul.selectBox-dropdown-menu li a{
			padding:0.5em;
		
		}
		

/*minificha*/
aside.minifichas .minificha{	
    float: left;   
    padding-top: 2%;
    padding-bottom: 2%;
    width: 98%;
    border-bottom: 1px solid #c7c7c7;
    position:relative;
}
aside.minifichas .minificha.banner{
	text-align: center;
	background-color: #eee;
}
aside.minifichas .minificha.banner img{
	max-width:100%;
}

aside.minifichas .minificha .fav{
	font-size: 1.5em;
    position: absolute;
    right: 0;
    top: 10px;
}	
	aside.minifichas .minificha .fav a:before{
		font-family: icomoon;
		content:"\ecdf";
		color:#d1d1d1;
	}
	aside.minifichas .minificha .fav.active a:before{
		color:#dccf03;
	}

	aside.minifichas .minificha .foto{
		/* float: left; */
		display:table-cell;
	 	vertical-align: middle;
    	overflow: hidden;
    	width: 37%;
	}
		aside.minifichas .minificha .foto img{
			max-width: 100%;
		}
	
	aside.minifichas .minificha .info{
	 	/* float: left; */
	 	display:table-cell;
	 	vertical-align: top;
		padding-left: 3%;
    	width: 63%;
	}
		aside.minifichas .minificha .info h2{
	 		color: red;
    		font-family: raleway;
			font-size: 1.2em;
    		max-height: 45px;
    		overflow: hidden;
    		width: 89%;
    		margin-bottom: 5px;
		}
		aside.minifichas .minificha .info h3{
			font-size: 1em;
		 	margin: 10px 0;
		}
			aside.minifichas .minificha .info h3 span{
				font-family: raleway_bold;
				font-size: 1.6em;
			}
		
		aside.minifichas .minificha .info .descuento{
			border-bottom: 1px solid #7a8e0e;
			border-top: 1px solid #7a8e0e;
			color: #7a8e0e;
			padding: 5px;
			text-align: center;
		 	margin-bottom: 10px;
		}
			aside.minifichas .minificha .info .descuento p{
				display:inline-block;
			}
			aside.minifichas .minificha .info .descuento p::before {
    			background: transparent url("/images/ico_descuento.png") no-repeat scroll center center;
				content: "\00a0";
    			display: inline-block;
    			height: 35px;
    			margin-right: 10px;
    			vertical-align: middle;
    			width: 35px;
			}
				aside.minifichas .minificha .info .descuento p span{
					font-family: raleway_bold;
				}
		
		aside.minifichas .minificha .info .detales{
			display: block;
    		margin: 10px 0;
		}
			aside.minifichas .minificha .info .detalles{
				font-size: 0.9em;
			}
				aside.minifichas .minificha .info .detalles li{
					display:inline-block;
					margin-right: -3px;
					width: 30%
				}
				aside.minifichas .minificha .info .detalles li:nth-child(1){
					width:40%
				}
					aside.minifichas .minificha .info .detalles li span{
						font-family: raleway_bold;
						font-size: 0.8em;
					}
					
				/*ICOS DETALLES*/
				aside.minifichas .minificha .info .detalles li.superf::before{
				 	content:"\00a0";
				 	background: transparent url("/images/ico_m2.png") no-repeat scroll center center;    
    				display: inline-block;
    				height: 31px;
    				margin-right: 5px;
    				vertical-align: middle;
					width: 31px;					 
				}
				aside.minifichas .minificha .info .detalles li.hab::before{
					content:"\00a0";
					background: transparent url("/images/ico_habitaciones.png") no-repeat scroll center center;    
    				display: inline-block;
    				height: 21px;
    				margin-right: 5px;
    				vertical-align: middle;
    				width: 35px;
				}
				aside.minifichas .minificha .info .detalles li.ban::before{
					content:"\00a0";
					 background: transparent url("/images/ico_banos.png") no-repeat scroll center center;    
					display: inline-block;
    				height: 23px;
    				margin-right: 5px;
    				vertical-align: middle;
    				width: 35px;	
				}
			
	aside.minifichas .minificha .info p.enlace{
		margin:10px 0
	}
		aside.minifichas .minificha .info p.enlace a{
			color: red;
    		font-size: 0.9em;
    		text-decoration: underline;
		}




/* FOOTER PAGINA BUSCADOR */

footer.footbusc {
	border-top: 1px solid #ccc;
    bottom: 0;
    left: 0;
     padding-bottom: 5px;
    padding-top: 5px;
    position: fixed;
    width: 100%;
    background-color: #fff;
}

	footer.footbusc .downfoot{
		margin:0;
	}
		
footer.footbusc .downfoot ul.enlacespie{
	margin-top: 0;
}
	footer.footbusc .downfoot ul.enlacespie li{
		font-size: .9em;
	}

footer.footbusc.granja h4 a {
    color: #414141;
    font-family: Raleway_light;
    font-size: 1em;
}

footer.footbusc .downfoot .granja{
	margin-top: 0;
}
	footer.footbusc .downfoot .granja h4 a{
		font-size: 1em;
	}




/******************* FOOTER ****************/
footer{
	width:100%;
}
	footer .upfoot {
	   	border-bottom: 1px solid #ccc;
    	display: inline-block;
	   	padding-bottom: 18px;
    	width: 100%;
	}
	footer .contacto{
		float: left;
		width: 20%;
		margin-left: 1%;
		position: relative;
	}
		footer .contacto p.contact{
			color:#858383;
			font-family: raleway_medium;
			padding-left: 55px;
		}
			footer .contacto .number{
				color: red;
    			font-family: raleway_bold;
    			font-size: 1.5em;
    			padding-left: 55px;
			}
			.number::before {
    			background: transparent url("/images/ico_tfno_pie.png") no-repeat scroll left bottom;
    			content: "\00a0";
    			height: 56px;
    			position: absolute;
    			top: 0;
    			width: 44px;
    			left:1%;
			}
	
	
	footer .inverpro{
		float: left;
    	text-align: center;
    	width: 27%;
	}
		footer .inverpro li{
	   		border-right: 1px solid #ccc;
    		display: inline-block;
    		margin: 15px 2px;
    		padding-right: 10px
		}
		
		footer .inverpro li:last-child {
    		border: medium none;
		}
			footer .inverpro li a{
				color:#414141;
			}
			footer .inverpro li a:hover{
				color:red;
			}
	
	
	
	/*GRANJA ENLACES*/
	footer .granjas{
		float: right;    	
    	text-align: right;
    	width:52%;
	}
		footer .granja{
			 margin-right: 1%;
	   		display: inline-block;    		
    		margin-top: 13px;
    		position: relative;
    		text-align: center;
    		width: 48%	
		}
			footer .granja h4{
		  		float: left;
    			margin: 0;
    			text-align: center;
    			width: 100%;
			}
				footer .granja h4::after {
    				color: #808080;
					content: "\edb4";
    				font-family: icomoon;
    				margin-left: 12px;
    				vertical-align: middle;
				}
				footer .granja h4 a{
					color:#414141;
					font-size: 1.2em;
					font-family:Raleway_medium;
				}
			
			footer .granja ul{
 				bottom: 30px;
				height: 0;
    			max-height: 111px;
    			overflow-x: hidden;
    			overflow-y: auto;
    			position: absolute;
    			right: 0;
    			text-align: left;
    			width: 100%;
    			background-color: #fff;
			}
				footer .granja li{
		 			display: inline-block;
    				margin: 5px 0;
    				text-align: left;
    				width: 100%;
    				font-size: .8em;
				}
					footer .granja li a{
						color:#414141;
						font-size: 1em;
						font-family: raleway_light;
					}

			/*DESPLEGADO*/
			footer .granja.desp h4::after {    				
					content: "\edb4";
					color:red;    				
				}
				footer .granja.desp h4 a{
					color:red;
				}
				footer .granja.desp ul{
					height:auto;
				}

	footer .downfoot{
		float: left;
		margin: 25px 0;
		width:99%;
	}
		footer .downfoot ul.enlacespie{
			float: left;
		 	margin-top: 4px;
	 	 	margin-left: 1%;
		 
		}
			footer .downfoot ul.enlacespie li{
		 		border-right: 1px solid #ccc;
    			display: inline-block;
    			font-family: raleway_light;
    			font-size: 1em;
				
			}
				footer .downfoot ul.enlacespie li a{
					color: #414141;
    				padding-right: 10px;
				}
	
	footer .socialpie{				
		float: right;
    	margin-top: -5px;
    	margin-right: 1%;
	}
		footer .socialpie li{
			display: inline-block;
			margin: 0 6px;
		}


/* tablets menos de 1024 */
@media (max-width: 1023px){	
	
/*CABECERA*/
	header#general{
		height: 33px;
	}
	header#general #pUltimosVisitados{
		display:none;
	}
	header#general p.loginhead{
		width:100%;
		 height: 33px;
    	padding-top: 5px;
	}
	
	header#logonav{
		height: 50px;
	}
		header#logonav .logohead{
			padding-top: 8px;
		}
		header#logonav img#logoalta{
			margin-left: 4%;
			width:80%;
		}
	#contbutton{
		display: none;
	}
	header nav#menu{
		display:none;
	}
	header nav#responsive{
		display:block;
	}
	
	header#general .usuarioconect{
		width:100%;
		padding:6px 2% 0 0;
		height:33px;
	}
	header#general .usuarioconect::before{
		position:relative;
		left:-2%;
		top:0;
	}
	header#general #menuAreaPrivada{
		width:100%;
		top: 35px;
	}
		header#general #menuAreaPrivada ul li a{
			padding-left: 35%;
		}
		header#general #menuAreaPrivada ul li a::before{
			left:20%;
		}
	footer .downfoot ul.enlacespie{
		width:100%;
		text-align: center;
	}
	footer .downfoot ul.socialpie{
		width:100%;
		text-align: center;
		margin-top: 20px;
	}
	header#logonav .contact{
		display:none;
	}
	.contact_responsive{
	 	display: block;
		left: 53%;    	
    	position: absolute;
    	z-index: 2;
    	padding-top: 8px;
	}	
		
		/*FOOTER*/
	footer .contacto{
		text-align: center;
    	width: 100%;
    	margin-left: 0;
	}
	footer .inverpro{
		display:none
	}
	footer .granjas{
		display:none;
	}
	footer .contacto p.contact{		
		font-size: 22px;
		text-indent: -60px;
		padding-left: 54px;
	}	
	footer .contacto .number{		
		font-size: 34px;
		padding-left: 54px;
	}
	.number::before{
		margin-left: -55px;
    	margin-top: 10px;
    	left:inherit;
	}
}
